//- contas.pug
extends ../../templates/layout
include ../../templates/modal-mixin

block conteudo
    //- Tela de Contas
    //- Botão para abrir o modal
    button.btn.btn-primary.w-full.mb-4(onclick="document.getElementById('modal-nova-conta').classList.add('modal-open')")
        | Adicionar Nova Conta

    //- Modal de Nova Conta
    +modal('modal-nova-conta', 'Adicionar Nova Conta')
        include formulario-conta.pug

    //- Lista de Contas
    h3.font-medium.text-xl.mb-4 Minhas Contas
    div.overflow-x-auto
        table.table.table-zebra.w-full
            thead
                tr
                    th Nome
                    th Tipo
                    th Saldo
                    th Ações
            tbody
                tr
                    td Conta Corrente
                    td Corrente
                    td R$ 1.500,00
                    td
                        button.btn.btn-outline.btn-danger Excluir
                tr
                    td Poupança
                    td Poupança
                    td R$ 3.000,00
                    td
                        button.btn.btn-outline.btn-danger Excluir